<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body scroll="yes">
    <form action = "http://127.0.0.1:5000/ApplicationB" method = "POST"
        enctype = "multipart/form-data">


          <div class="container">
              <div class="brand-logo"></div>
              <div class="brand-title">Application B</div>
              <div class="inputs">
                  <input type = "file" name = "file" />
                    <button type="submit">Submit</button>

                    <label>Name</label> <input type="text" id="NameId" disabled/>

                    <label>Avatar</label>
                    <input type="text" id="AvatarId"  disabled/>

                    <label>Date and Time</label>
                    <input type="text" id="DTId"  disabled/>

                    <label>Timezone</label>
                    <input type="text" id="TimeZoneId"  disabled/>

                    <label>Email Id</label>
                    <input type="text" id="EmailId" disabled />

                    <label>Company</label>
                    <input type="text" id="CompanyId"  disabled/>

                    <label>Currency</label>
                    <input type="text" id="CurrencyId"  disabled/>

                    <label>Address</label>
                    <input type="text" id="AddressId"  disabled/>

                    <label>Language</label>
                    <input type="text" id="LanguageId" disabled />

                    <label>Role</label>
                    <input type="text" id="RoleId"  disabled/>

                    <label>Currency</label>
                    <input type="text" id="CurrencyId"  disabled/>

                    <label>Cellphone</label>
                    <input type="text" id="CellphoneId"  disabled/>

                    <label>OfficePhoneNumberId</label>
                    <input type="text" id="OfficePhoneNumberId"  disabled/>

                    <button type="submit">Refresh</button>
              </div>
          </div>
    </form>
  </body>
<script>
          const jsonfile = JSON.parse({{jsonfile|tojson}});
          setValue(jsonfile);

          function setValue(value) {
           if(value[0].PreferredName){
           document.getElementById("NameId").value = value[0].PreferredName;
           }
            if(value[0].Avatar){
            document.getElementById("AvatarId").value = value[0].PreferredName;
           }
            if(value[0].Zone){
            document.getElementById("TimeZoneId").value = value[0].Zone;
           }
            if(value[0].Workplace){
             document.getElementById("CompanyId").value = value[0].Workplace;
           }
            if(value[0].Currency){
            document.getElementById("CurrencyId").value = value[0].Currency;
           }
            if(value[0].PreferredTime){
            document.getElementById("DTId").value = value[0].PreferredTime;
           }
            if(value[0].Address){
            document.getElementById("AddressId").value = value[0].Address;
           }
            if(value[0].Email){
            document.getElementById("EmailId").value = value[0].Email;
           }
            if(value[0].Language){
            document.getElementById("LanguageId").value = value[0].Language;
           }
            if(value[0].Role){
            document.getElementById("RoleId").value = value[0].Role;
           }
            if(value[0].CellNo){
            document.getElementById("CellNoId").value = value[0].CellNo;
           }
            if(value[0].OfficePhoneNumber){
            document.getElementById("OfficePhoneNumberId").value = value[0].OfficePhoneNumber;
           }
          }
    </script>
</html>