<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body scroll="yes">
  <div>
      <button type=button class="element" onClick="parent.location='http://127.0.0.1:5000'">Home</button>
  </div>
    <form action = "http://127.0.0.1:5000/Common" method = "POST"
        enctype = "multipart/form-data">
          <div class="container">
              <div class="brand-logo"></div>
              <div class="brand-title">Common User Setting</div>
              <div class="inputs">
                    <label>Name</label> 
                    <input type="text" id="NameId" disabled/>

                    <label>Date And Time</label>
                    <input type="text" id="DTId"  disabled/>

                    <label>Zone</label>
                    <input type="text" id="TimeZoneId"  disabled/>

                    <label>Email</label>
                    <input type="text" id="EmailId" disabled />

                    <label>Work Place</label>
                    <input type="text" id="CompanyId"  disabled/>

                    <label>Address</label>
                    <input type="text" id="AddressId"  disabled/>

                    <label>Language</label>
                    <input type="text" id="LanguageId" disabled />

                    <label>Currency</label>
                    <input type="text" id="CurrencyId"  disabled/>

                    <label>Cell No</label>
                    <input type="text" id="CellNoId"  disabled/>

                    <label>Office Phone Number</label>
                    <input type="text" id="OfficePhoneNumberId"  disabled/>

                    <button type=button onClick="parent.location='http://127.0.0.1:5000/Common'">Refresh</button>
              </div>
          </div>
    </form>
  </body>
<script>
          const jsonfile = JSON.parse({{jsonfile|tojson}});
          setValue(jsonfile);
          function setValue(value) {
           if(value[0].Name){
           document.getElementById("NameId").value = value[0].Name;
           }
            if(value[0].TimeZone){
            document.getElementById("TimeZoneId").value = value[0].TimeZone;
           }
            if(value[0].Company){
             document.getElementById("CompanyId").value = value[0].Company;
           }
            if(value[0].Currency){
            document.getElementById("CurrencyId").value = value[0].Currency;
           }
            if(value[0].DateandTime){
            document.getElementById("DTId").value = value[0].DateandTime;
           }
            if(value[0].Address){
            document.getElementById("AddressId").value = value[0].Address;
           }
            if(value[0].Emailid){
            document.getElementById("EmailId").value = value[0].Emailid;
           }
            if(value[0].Language){
            document.getElementById("LanguageId").value = value[0].Language;
           }
            if(value[0].CellphoneNumber){
            document.getElementById("CellNoId").value = value[0].CellphoneNumber;
           }
            if(value[0].OfficeNumber){
            document.getElementById("OfficePhoneNumberId").value = value[0].OfficeNumber;
           }
          }
    </script>
</html>