<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="container"></div>
    <script>
      const jsonfile = JSON.parse({{jsonfile|tojson}});
      console.log(jsonfile);
      document.querySelector(".container").innerHTML = JSON.stringify(jsonfile, null, 2);
    </script>
    <form action = "http://localhost:5000/common_post" method = "POST" 
    enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
 </form>   
  </body>
</html>